body{
    background: url(background.png);
    background-size: cover;
}

.navbar{
   
    margin: auto;
    border: 2px;
    padding: 10px;
    background-color: #9d4d4d61;
    color: azure;


}
.navbar ul{
    padding: 0px;
    list-style: none;
    text-align: center;
}
.navbar li{
    display: inline;
    margin: 10px;
    border: 3px;
    padding: 2px;
  
    
}
.navbar a{
    text-decoration: none;
    color: #fff;
    font-size:20px;
    padding:20px;
    border: 5px ;
    background-color: rgba(149, 99, 99, 0.366);

}
.navbar a:hover{
    
    background-color:rgba(58, 38, 38, 0.004);
    color: brown;
    font:bold;
}
.navbar a:active{
    color: blue;
   
}


 #main{
    margin:10px;
    border: 20px;
    padding: 30px;
    text-align: center;
    text-decoration:solid;
   


 }
 
    
 
 .one{
    float: left;
    margin: 5px;
    width: 32%;
    border: 1px;
    padding:5px;
    background:rgba(66, 24, 24, 0.392);
    color: cornsilk;
    box-sizing: border-box;
    
    
 }
 